[MASTER]
extension-pkg-whitelist=PyQt6,PyQt5
ignore-paths = venv|ankidata|src/forms|src/providers/vendor

[REPORTS]
output-format=colorized

[MESSAGES CONTROL]
disable=
  missing-module-docstring,
  missing-class-docstring,
  missing-function-docstring,
  wildcard-import,
  unused-wildcard-import,
  unused-argument,
  redefined-outer-name,
  fixme,
  line-too-long,
  invalid-name,
  attribute-defined-outside-init,
  bare-except,
  too-many-arguments,

[BASIC]
good-names =
  i,
  mw,
